#cm-control-lrc{
    float: left;
    padding-left: 28px;
    width: calc(100% - 595px);
    height: calc(100% - 3px);
    line-height: 50px;
    font-size: 14px;
    color: #fff;
    -o-transition: all 350ms;
    -moz-transition: all 350ms;
    -webkit-transition: all 350ms;
    position: absolute;
    right: 146px;
    top: 3px;
}
#cm-control-lrc *{
    display: none;
}
.this_lrc{
    text-align: left;
    display: block!important;
    -o-transition: all 350ms;
    -moz-transition: all 350ms;
    -webkit-transition: all 350ms;
    color: #fff;
}
#cm-full-music-lrc-list{
    height:calc(100% - 70px);
    color: #cecece;
    font-size: 14px;
    overflow: scroll;
}
#cm-full-music-lrc-list::-webkit-scrollbar{
    display: none;
    width: 0;
}
#cm-full-music-lrc-list *{
    -o-transition: all 350ms;
    -moz-transition: all 350ms;
    -webkit-transition: all 350ms;
    margin: 10px 0;
}
#cm-full-music-lrc-list .this_lrc{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.cm-full-player-comment .cm-comment-list .cm-comment-line .main .content .reply{
    background: none!important;
}
.cm-full-player-comment .cm-comment-list .cm-comment-line .main button,.cm-full-player-comment .cm-comment-list .cm-comment-line .main .time{
    color:#dedede;
}
.cm-full-player-comment .cm-comment-send-container{
    background: rgba(255,255,255,.1)!important;
}
